<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">
        <afbg-photo-profile></afbg-photo-profile>
      </a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li class="active"><a [routerLink]="['']">Tasks</a></li>
        <li><a [routerLink]="['groups']">Groups</a></li>
        <li><a href="cards">Cards</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li class="active"><a [routerLink]="['']">Tasks</a></li>
    <li><a [routerLink]="['groups']">Groups</a></li>
    <li><a href="cards">Cards</a></li>
  </ul>