$backgroundColorDate: #D1D1D1;
$borderColor: #A4E6E4;
input.input-titulo{
    font-size: 2.5em;
}
label{
    font-size: 1em;
}
input, textarea{
    color: #757575;
}
textarea{
    height: 7em !important;
    padding: 3px;
    overflow-y: auto;
}
button{
    margin-left: 5px;
}

textarea.ng-untouched.ng-invalid{
    border: 0.1px solid $backgroundColorDate !important;
}
textarea.ng-touched.ng-valid{
    border: 0.1px solid $backgroundColorDate !important;
}
textarea.ng-touched.ng-invalid{
    border: 0.1px solid red !important;
}

.date-selector{
    width: 100% !important;
    mat-form-field{
    width: 100% !important;
    background-color: $backgroundColorDate !important;
    border-radius: 5px;
        input{
            border: $backgroundColorDate !important;
        }
    }
}


